@model CoinViewer.Models.RegisterViewModel
@if (Request.IsAuthenticated)
{
    Response.Redirect("/home/index");
}
<div class="row">
    <div class="col-md-5 coinviewerLogo">
        <img id="coinViewerLogo" src="~/Imgs/CoinViewerLogo.png" />
    </div>
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="col-md-7 rightSide">
            @Html.AntiForgeryToken()
            <h4>NEW USER</h4>
            @Html.ValidationSummary("", new { @class = "text-danger" })
          
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" , @placeholder = "Email" })
           
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" , @placeholder = "Password" })
           
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Repeat Password" })
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" class="btn" value="CONNECT" />
                </div>
            </div>
        </div>
    }
</div>





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
